rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /canvasElements/{elementId} {
      // Anonim kullanıcıların da create işlemi yapabilmesi için düzenleme
      allow create: if request.auth != null && (request.auth.uid == request.resource.data.creatorUid || request.auth.token.firebase.sign_in_provider == 'anonymous');
      
      // Okuma işlemi herkes için geçerli (anonim kullanıcılar dahil)
      allow read: if request.auth != null || request.auth.token.firebase.sign_in_provider == 'anonymous';

      // Güncelleme ve silme işlemleri sadece creatorUid ile eşleşen ve kimlik doğrulaması yapılmış kullanıcılara
      allow update, delete: if request.auth != null && resource.data.creatorUid == request.auth.uid;
    }
  }
}
